<section>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="note in ctrl.notes">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="badge pull-right">
                        {{note.value.tags}}
                    </span>
                    {{note.value.date}}
                </div>
                <div class="panel-body">
                    {{note.value.title}}
                </div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-xs" role="group">
                        <button type="button" ng-click="ctrl.editNote(note.key)" class="btn btn-primary">Edit</button>
                        <button type="button" ng-click="ctrl.deleteNote(note.value.id)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
